DATABASE_URL=postgresql+asyncpg://user:password@db:5432/db_name
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name

SCRAPING_TIME=12:00
DUMP_TIME=12:00
START_URL=https://auto.ria.com/uk/car/used/
MAX_PAGES=10